=render partial: "/layouts/header"
%h1 Ключевые слова
.center
	%h2=@reservedkeyword.keywords.gsub(/[0-9\|]/, " ")
%p
.center
	= link_to "Редактировать", edit_reservedkeyword_path(1)
=render partial: "/layouts/footer" 