=render partial: "/layouts/header"
%h1 О создателе:
%h1 Транслятор был размещен здесь Сергеем Пеньковым.
%h1 Автор выражает благодарность коллективному разуму студенческого сообщества ВолгГТУ.
=render partial: "/layouts/footer"