=render partial: "/layouts/header"
%h1 Помощь
.center
	%ol
		%li Чтобы посмотреть или отредактировать список ключевых слов, нажмите "Ключевые слова"
		%p
		%li Чтобы посмотреть или отредактировать список зарезервированных слов, нажмите "Зарезервированные слова"
		%p
		%li Чтобы создать новую трансляцию, нажмите "Создать новую трансляцию"
		%p
		%li Чтобы посмотреть/обновить/отредактировать/удалить существующие трансляции или помотреть работу лексического анализатора, нажмите "Транслированные программы"
		%p
=render partial: "/layouts/footer"