=render partial: "/layouts/header"
%h1 Здравствуйте!<br>Здесь можно транслировать программу с языка Милан на язык Си! 
.center Чтобы начать нажмите на кнопку ниже.<br><br>
.center
	<a href="/translations/new" class="btn btn-primary" role="button">Начать работу с транслятором</a>
=render partial: "/layouts/footer"